extends base
//- Script for ti.to widget
<script src='https://js.tito.io/v1' async></script>

block vars
  - var pageClass = "home"

block viewport
  .pycon
    img.pycon-logo(
      alt="PyCon IL",
      src='/'+year+"/static/images/pycon-il-logo.png",
      onerror="this.onerror = null; this.src = '/2015/static/images/pycon-cz-logo.png'"
    )
    
    h1
      | PyCon Israel
      span.year= year

    .pycon-info
      p.pycon-location Tel Aviv, Israel
      p.pycon-date May 2-3

  .claim
    .container
      p.
        The very first #[strong PyCon] in #[strong Israel]. Join us
        for a 2-day event with talks, sprints and workshops about Python.
          
  //-
    .container
      .program
        .program-item
          h2 Talks
          .date Saturday 14th
          .venue
            i.fa.fa-map-marker
            span.
              #[a(href=pageUrl("talks/#directions")) Faculty of Information Technology,#[br] Božetěchova 1/2]
          p.
            #[strong One] day, #[strong two] parallel tracks, #[strong two] keynotes
            and #[strong ten] awesome talks. Community, web, hardware, science, devops and more.
      
      .program-item
        h2 Sprints &amp; workshops
        .date Sunday 15th
        .venue
          i.fa.fa-map-marker
          span.
            #[a(href=pageUrl("workshops/#directions")) Impact Hub Brno,#[br] Cyrilská 7]
        p.
          #[strong Six] workshops in #[strong two] blocks and sprinting all day long. Hack on
          open-source projects together with other Python community members.
    
.registration
  h2 Registration
  p.lead.
   . Sign up to be notified when tickets go on sale!
  include <tito-widget event="https://ti.to/pycon-israel/pycon-israel-2016"></tito-widget>  

  .sponsors
    h2 Sponsors
    . Would you like to support PyCon Israel? [Send us an email](mailto:info@pycon.org.il) and join us as a sponsor!
//- 
   .platinum
       h3 Platinum sponsor
         .sponsor
           a.sponsor-skypicker(href="https://skypicker.com")
             img(src=pageUrl("/static/images/sponsors/skypicker.png"))

      .gold
        h3 Gold sponsors
        .sponsor
          a.sponsor-psf(href="https://www.python.org/psf/")
            img(src=pageUrl("/static/images/sponsors/psf.png"))
        .sponsor
          a.sponsor-twisto(href="https://www.twisto.cz")
            img(src=pageUrl("/static/images/sponsors/twisto.png"))

      .silver
        h3 Silver sponsors
        .sponsor
          a.sponsor-imper(href="https://imper.cz")
            img(src=pageUrl("/static/images/sponsors/imper.png"))
        .sponsor
          a.sponsor-pycharm(href="https://www.jetbrains.com/pycharm/")
            img(src=pageUrl("/static/images/sponsors/pycharm.png"))
        .sponsor
          a.sponsor-inuits(href="https://inuits.eu")
            img(src=pageUrl("/static/images/sponsors/inuits.png"))
      //-   
      //- a.alone.sponsor-placeholder(href=pageUrl("about/sponsorship.html")).
      //-   Become our partner!

      .djangogirls
        h3 DjangoGirls workshop sponsor
        .sponsor
          a.sponsor-redhat(href="http://www.redhat.com/en/global/czech-republic")
            img(src=pageUrl("/static/images/sponsors/redhat.png"))
