extends base

block vars
  - var pageClass = "home"

block viewport
  .pycon
    img.pycon-logo(
      alt="PyCon CZ",
      src='/'+year+"/static/images/pycon-cz-logo-icon.svg",
      onerror="this.onerror = null; this.src = '/2015/static/images/pycon-cz-logo.png'"
    )
    
    h1
      | PyCon CZ
      span.year= year

    .pycon-info
      p.pycon-location Brno, Czech Republic
      p.pycon-date November 14-15

  .claim
    .container
      p.
        The very first #[strong PyCon] in the #[strong Czech Republic]. Join us
        for a fun weekend full of talks, sprints and workshops about Python.

  .container
    .program
      .program-item
        h2 Talks
        .date Saturday 14th
        .venue
          i.fa.fa-map-marker
          span.
            #[a(href=pageUrl("talks/#directions")) Faculty of Information Technology,#[br] Božetěchova 1/2]
        p.
          #[strong One] day, #[strong two] parallel tracks, #[strong two] keynotes
          and #[strong ten] awesome talks. Community, web, hardware, science, devops and more.
      
      .program-item
        h2 Sprints &amp; workshops
        .date Sunday 15th
        .venue
          i.fa.fa-map-marker
          span.
            #[a(href=pageUrl("workshops/#directions")) Impact Hub Brno,#[br] Cyrilská 7]
        p.
          #[strong Six] workshops in #[strong two] blocks and sprinting all day long. Hack on
          open-source projects together with other Python community members.
    
    .registration
      h2 Registration is now open
      p.lead #[a(href=pageUrl("about/tickets.html")) Get your ticket] now and be part of the first PyCon CZ!
      .tito
        tito-widget(event="pyvec/pycon-cz-2015")
    
      h2 What people think about PyCon CZ?
      
      include components/twitter
  
    .sponsors
      h2 Our sponsors

      .platinum
        h3 Platinum sponsor
        .sponsor
          a.sponsor-skypicker(href="https://skypicker.com")
            img(src=pageUrl("/static/images/sponsors/skypicker.png"))

      .gold
        h3 Gold sponsors
        .sponsor
          a.sponsor-psf(href="https://www.python.org/psf/")
            img(src=pageUrl("/static/images/sponsors/psf.png"))
        .sponsor
          a.sponsor-twisto(href="https://www.twisto.cz")
            img(src=pageUrl("/static/images/sponsors/twisto.jpg"))

      .silver
        h3 Silver sponsors
        .sponsor
          a.sponsor-imper(href="https://imper.cz")
            img(src=pageUrl("/static/images/sponsors/imper.png"))
        .sponsor
          a.sponsor-pycharm(href="https://www.jetbrains.com/pycharm/")
            img(src=pageUrl("/static/images/sponsors/pycharm.png"))
        .sponsor
          a.sponsor-inuits(href="https://inuits.eu")
            img(src=pageUrl("/static/images/sponsors/inuits.png"))
        
      a.alone.sponsor-placeholder(href=pageUrl("about/sponsorship.html")).
        Become our partner!

      .djangogirls
        h3 DjangoGirls workshop sponsor
        .sponsor
          a.sponsor-redhat(href="http://www.redhat.com/en/global/czech-republic")
            img(src=pageUrl("/static/images/sponsors/redhat.png"))
