footer.site-footer
  .container
    nav
      ul.nav-footer
        li.section
          a.nav-title(href=pageUrl("#")) About
          ul
            li
              a(href=pageUrl("about/team.html")) Team
            //-li
              a(href=pageUrl("about/speakers.html")) #[strong Speakers]
            //-li
              a(href=pageUrl("about/tickets.html")) Tickets
            //- li
              a(href=pageUrl("about/sponsorship.html")) Sponsorship
            li
              a(href=pageUrl("about/code-of-conduct.html")) #[strong Code of Conduct]
  //-
        li.section
          a.nav-title(href=pageUrl("getting-here/")) Getting Here
          ul
            li
              a(href=pageUrl("getting-here/#travel")) Travel
            li
              a(href=pageUrl("getting-here/#accommodation")) Accommodation

        li.section
          a.nav-title(href=pageUrl("talks/")) Talks
          ul
            li
              a(href=pageUrl("talks/")) Schedule
            li
              a(href=pageUrl("talks/#directions")) Venue

        li.section
          a.nav-title(href=pageUrl("workshops/")) Sprints &amp; Workshops
          ul
            li
              a(href=pageUrl("workshops/")) Schedule
            li
              a(href=pageUrl("workshops/#directions")) Venue
            //- li
            //-   a(href=pageUrl("workshops/registration.html")) #[strong Registration]


  .social-links
      | Spread the word about #[strong PyCon IL!]
      ul
        li
          a(href='https://twitter.com/pyconil')
            i.fa.fa-twitter
        //-li
          a(href='https://www.facebook.com/events/1624916497723396/')
            i.fa.fa-facebook
        //-li
          a(href='http://lanyrd.com/2015/pyconcz/')
            i.fa.fa-calendar-check-o
        li
          a(href='https://github.com/edanm/il.pycon.org-2016')
            i.fa.fa-github
        //-li
          a(href='https://pyconcz.slack.com')
            i.fa.fa-slack
        li
          a(href='mailto:info@pycon.org.il')
            i.fa.fa-envelope

    .website-license
     p
      :markdown
        The PyCon IL Website is inspired by and based on the [PyCon CZ](href='https://cz.pycon.org/2015/')
        Website with the MIT license. Huge thanks to the Czech Python community for sharing their resources
        the open source way!

    .psf-trademark
      p
        :markdown
          [PyCon™](href='https://www.python.org/psf/trademarks/pycon/')
          is a trademark for worldwide conference activities claimed by
          [Python Software foundation](href='https://www.python.org/psf-landing/').
