- Version = "/2015/"

div
  header
    .navbar.navbar-default.navbar-fixed-top
      .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#main-navbar", aria-expanded="false")
          .sr-only Toggle navigation
          .icon-bar
          .icon-bar
          .icon-bar
        a.navbar-brand(href=Version) PyCon CZ

      .collapse.navbar-collapse#main-navbar
        ul.nav.navbar-nav
          li
            a(href=Version + '#speakers') Speakers
          li
            a(href=Version + '#schedule') Schedule
          li
            a(href=Version + '#tickets') Tickets
          li
            a(href=Version + '#sponsors') Sponsors
          li
            a(href=Version + 'team.html') Team
          li
            a(href=Version + '#venue') Venue
        ul.right.nav
          li
            a(href='https://twitter.com/pyconcz', target='_blank')
              i.fa.fa-twitter
          li
            a(href='https://www.facebook.com/events/1624916497723396/', target='_blank')
              i.fa.fa-facebook
          li
            a(href='http://lanyrd.com/2015/pyconcz/', target='_blank')
              i.fa.fa-calendar-check-o
          li
            a(href='https://github.com/pyvec/cz.pycon.org-2015', target='_blank')
              i.fa.fa-github
          li
            a(href='https://pyconcz.slack.com', target='_blank')
              i.fa.fa-slack
          li
            a(href='mailto:info@pycon.cz')
              i.fa.fa-envelope
