extends ../base

//- render single speaker
mixin talk(speaker)
  .talk-description
    .speaker= speaker.name
    
    p= speaker.title
    
    if speaker.github
      a.social.github(href="https://github.com/" + speaker.github)
        .fa.fa-github
    if speaker.twitter
      a.social.twitter(href="https://twitter.com/" + speaker.twitter)
        .fa.fa-twitter

    p= speaker.abstract

  .commit-holder
    .commit
      img.avatar(src=avatar(speaker.avatar), alt='Photo of ' + speaker.name)

block vars
  - var pageClass = "page-talks"

block viewport
  .container
    h1 Sprints &amp; Workshops

    p.
    .event-full.general
      h2.title Breakfast
      .talk-description
        p.
          Good morning, everyone! #[br]
          Join us for delicous breakfast before coding madness begins      
      .commit.empty.first
        .dot

    .branch
      img(
        src="/2015/static/images/ui/branch-in.svg",
        onerror="this.onerror = null; this.src = '/2015/static/images/ui/branch-in.png'"
      )

    .talk-block
      .event.master
        .talk-description
          .speaker.
            Sprints
          p.
           All day is open for you to sprint on any interesting project.

        .commit-holder
          .commit.empty

      .event.practical
        .talk-description
          .speaker.
            Workshops
          p.
            Get hands-on introduction to a project.

        .commit-holder
          .commit.empty

    .branch
      img(
        src="/2015/static/images/ui/branch-out.svg",
        onerror="this.onerror = null; this.src = '/2015/static/images/ui/branch-out.png'"
      )
        
    .event-full.general
      .title
        h2 Thank you
      .talk-description
        p.
          It was a loong weekend and it's time to go home. #[br]
          The first PyCon CZ is over. See you next year!
      
      .commit.empty.last
        .dot

    h2 Sprints

    p.
        All day is open for you to sprint on any interesting project.
        Sprints will be announced after lightning talks on Saturday.
        If you want your sprint listed here before then, just e-mail the organizers.

    h3 Python 3 Porting

    p.
        Make your project Python 3 compatible, or help a project you like!
        Experienced porters can help you on your way, with guidance on porting
        strategies, best practices, libraries and automation, or even
        convincing management/upstream that supporting Python 3 is a good idea.

    h2 Workshops
    
    Note that the workshops may still change.
    
    h3 Morning

    each speaker, index in workshops[0]
      .talk-block
        .event.practical
          +talk(speaker)

    h3 Afternoon

    each speaker, index in workshops[1]
      .talk-block
        .event.practical
          +talk(speaker)

    a.anchor#directions
    h2 The venue
    
    p.lead.
      Spaces for sprints and workshops are provided by #[a(href="http://www.hubbrno.cz/en/") Impact Hub Brno]. 

  .map
    address
      p.strong Impact Hub Brno
      p 49°13'34.5"N 16°35'49.0"E
      p Cyrilská 7
      p 602 00 Brno
      p Czech Republic
      
    #map.impact
