extends ../base

//- render single speaker
mixin talk(speaker)
  .talk-description
    h3.speaker
      = speaker.name

    .misc
      small=speaker.time
      small.track
        = speaker.track
        |  branch
      a.social.github(href="https://github.com/" + speaker.github)
        .fa.fa-github
      a.social.twitter(href="https://twitter.com/" + speaker.twitter)
        .fa.fa-twitter

    p= speaker.title
    
    
  .commit-holder
    .commit
      img.avatar(src=avatar(speaker.avatar), alt='Photo of ' + speaker.name)
    
mixin branch-out()
  .branch.out
    img(
      src="/2015/static/images/ui/branch-out.svg",
      onerror="this.onerror = null; this.src = '/2015/static/images/ui/branch-out.png'"
    )

block vars
  - var pageClass = "page-talks"
  - var activePage = "talks"

block viewport
  .container
    h1 Talks &amp; Keynotes
    
    .event-full.general
      h2.title Registration #[small 8:00]
      .talk-description
        p.
          Grab your lanyard, swag bag and coffee. #[br]
          Meet our sponsors and get ready for a day full of awesome talks!
      
      .commit.empty.first
        .dot

    .event-full.general
      h2.title The grand opening #[small 8:55]
      .talk-description
        p.
          Welcome to the first #[strong PyCon CZ]. #[br]
          Applause, introduction, jokes and meanwhile we lock the main door…
      
      .commit.empty
        .dot
    
    .event-full
      h2.title Keynote #1 #[br] Twisted #[small 9:00]
      .talk-description
        .speaker Amber Brown
        p.
          Amber, better known as HawkOwl, is a core developer and release
          manager of the Twisted project.
        a.social.github(href="https://github.com/hawkowl")
          .fa.fa-github
        a.social.twitter(href="https://twitter.com/hawkieowl")
          .fa.fa-twitter
         
      .commit
        img.avatar(
          src=avatar("amber_brown.jpg"),
          alt='Photo of Amber Brown'
        )

    .event-full
      h2.title.russell Keynote #2 #[br] The secret sauce behind #[br] Open Source #[small 10:00]
      .talk-description
        .speaker Russell-Keith Maggee
        p.
          Dr Russell Keith-Magee is a 9 year veteran of the Django core team,
          and President of the DSF.
        a.social.github(href="https://github.com/freakboy3742")
          .fa.fa-github
        a.social.twitter(href="https://twitter.com/freakboy3742")
          .fa.fa-twitter
         
      .commit
        img.avatar(
          src=avatar("russell_keith_magee.png"),
          alt='Photo of Russel Keith-Magee'
        )
    
    .branch-description
      .branch-name
        .master Master branch
      .branch.in
        img(
          src="/2015/static/images/ui/branch-in.svg",
          onerror="this.onerror = null; this.src = '/2015/static/images/ui/branch-in.png'"
        )
      .branch-name
        .practical Practical branch
    
    h2.visible-xs-block Talks
    p.visible-xs-block.
      Two parallel branches of talks are going to be held in two rooms: D105 and
      D0206. The #[strong Master branch] in D105 will be about general topics,
      while the #[strong Practical branch] in D0206 will present more specific ones.
    
    //-  Iterate over speakers object (loaded in gulpfile from data/speakers.json)
    //-  and render mixin talk() (see above)
    each speaker, index in speakers
      .talk-block
        .event.master
          +talk(speaker[0])

        .event.practical
          +talk(speaker[1])

    +branch-out()
    
    .event-full.general
      .title
        h2 Lightning talks #[small 19:00]
      .talk-description
        p.
          There is only one rule of lightning talks: #[br]
          5 mins and hard cut. Get on stage and share your experience!
      
      .commit.empty
        .dot
    
    .event-full.general
      .title
        h2 Thank you #[small 18:30]
      .talk-description
        p.
          The first day of PyCon CZ is over.
          Wrap it up and enjoy the evening party.
          See you tomorrow at the sprint venue!
      
      .commit.empty.last
        .dot

    a.anchor#directions
    h2 The venue
    
    p.lead.
      The conference is going to be held at Brno University of Technology.

  .map
    address
      p.strong VUT FIT
      p 49°11'25.8"N 16°37'13.1"E
      p Building D
      p Božetěchova 1/2
      p 612 66 Brno
      p Czech Republic

    #map.vut
